@font-face {
  font-family: 'Coliseum';
  src: url('../font/ColisBol.ttf');
}

@font-face {
  font-family: 'Coliseum-Black';
  src: url('../font/ColisUltBla.ttf');
}

body {
  border: 1px solid #000;
  background: linear-gradient(0deg, #FFF 0%, #7ED3F7 63.22%, #0095DA 100%);
  background-repeat: no-repeat;
}

body[data-aos-duration='4000'] [data-aos],
 [data-aos][data-aos][data-aos-duration='4000'] {
   transition-duration: 4000ms;
 }

.container-fluid {
  padding: 0 20px 0;
}

/* header */

.header {
  overflow: hidden;
}

.header #cloud-container {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  height: 300px;
  max-width: 500px;
  z-index: -1;
}

.header #cloud-container img {
  position: absolute;
}

.header #cloud_1 {
  top: -5px;
}

.header #cloud_2 {
  right: 48px;
}

.header #cloud_3 {
  right: 0px;
  top: -88px;
}

.header .header-text {
  padding-top: 50px;
  height: 203px;
  max-width: 335px;

  transform: rotate(-5deg) skew(-5deg);
}

.header h1 {
  color: #FFF5BE;
  font-family: 'Coliseum-Black';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;

  margin: 0;
  padding: 9.009px 7.792px 6.927px 7.792px;

  background: #E80201;


  /* -webkit-mask-image: linear-gradient(#FFFFFF00, #FFFFFF, #FFFFFF00, #FFFFFF, #FFFFFF00); */
}

.header h2 {
  color: #E80201;
  text-align: center;
  font-family: 'Coliseum';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 110% */
  text-transform: uppercase;

  margin: 0;
}

.header .outline {
  -webkit-text-stroke: 10px #FFFFFF;
}

.header #str1 {
}

.header #str2 {
  margin-top: -5px;
  /* background: conic-gradient(from 207deg at 51.96% -0.47%, rgba(0, 0, 0, 0.20) 9.374999776482582deg, rgba(0, 0, 0, 0.00) 360deg), #E80201; */
}

/* promocode */

.promocode {
  padding-top: 20px;
}

.promocode h3 {
  align-self: stretch;
  color: #323B46;
  text-align: center;
  font-family: 'Coliseum-Black';
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 26.4px */
  letter-spacing: 0.44px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.promocode h2 {
  color: #FFF;
  text-align: center;
  font-family: Coliseum;
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 39.6px */
  letter-spacing: 0.66px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.promocode p {
  align-self: stretch;
  color: #323B46;
  text-align: center;
  font-family: Coliseum;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 21.6px */
  margin-bottom: 0;
}

.promocode .code {
  display: flex;
  background-image: url('../img/promocode-background.svg');
  background-repeat: no-repeat;

  justify-content: center;
  align-items: center;
  gap: 35px;

  width: 336px;
  height: 69.5px;
  flex-shrink: 0;
}

/* ticket */

.ticket {

}

.ticket #list {
  max-width: 560px;
}

.ticket p {
  font-family: 'Coliseum';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 21.6px */
  margin-bottom: 0;
}

.ticket .circle {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  width: 32px!important;
  height: 32px!important;
  border-radius: 16px!important;
}

.ticket .circle p {
  color: #FFF5BE;
  text-align: center;
  font-family: 'Intro Cond';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.ticket .col-auto {
  gap: 10px;
}

/* footer */

.footer {
  padding-top: 16px;
  padding-bottom: 40px;

  overflow: hidden;
}

.footer .footer-container {
  min-width: 567px;
}

.footer .footer-element {
  height: 112px;
  width: 567px;

  position: relative;

  background-image: url('../img/footer.png');
  background-repeat: no-repeat;
}

.footer .footer-text {
  height: 52px;
  width: 256px;

  position: absolute;
  bottom: 20px;
  left: 40px;

  flex-shrink: 0;
}

.footer h3 {
  color: #323B46;
  text-align: center;
  font-family: 'Coliseum-Black';
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 26.4px */
  letter-spacing: 0.44px;
  text-transform: uppercase;
}
